<div class="row">

  <a href="#/dashboard">
    <div class="col s6 m4 l3">
      <div class="card-panel #ffca28 amber lighten-1 z-depth-1">
        <i class="large material-icons center-align">assessment</i>
        <h6 class="center-align">Dashboard</h6>
      </div>
    </div>
  </a>

  <a href="#/teams">
    <div class="col s6 m4 l3">
      <div class="card-panel #9ccc65 light-green lighten-1 z-depth-1">
        <i class="large material-icons center-align">supervisor_account</i>
        <h6 class="center-align">Teams</h6>
      </div>
    </div>
  </a>

  <a href="#/fixtures">
    <div class="col s6 m4 l3">
      <div class="card-panel #ffa726 orange lighten-1 z-depth-1">
        <i class="large material-icons center-align">assignment</i>
        <h6 class="center-align">Fixture</h6>
      </div>
    </div>
  </a>

  <a href="#/credits">
    <div class="col s6 m4 l3">
      <div class="card-panel #26c6da cyan lighten-1 z-depth-1">
        <i class="large material-icons center-align">recent_actors</i>
        <h6 class="center-align">Credits</h6>
      </div>
    </div>
  </a>

</div>
